.nag_bar{
    position: relative;
    top: 10px;
    width:100%;
    background-color:darkolivegreen;
}

.nag_bar li{
    padding: 0 10px;
    display: inline-block;
}

.nag_bar a{
    text-decoration: none;
    color:seashell;
    font-size: 20px;
    font-family:monospace, serif;
    display: block;
}

.banner{
background: url("./resource/IMG_2225.JPG");
background-blend-mode:darken;
background-position: center;
background-repeat: no-repeat;
background-size:cover;
color:rgba(0, 0, 0, 0.9);
margin-top:18px;
text-align: center;
padding: 150px 0;
font-size: 30px;
}

.bold{
    font-weight: bold;
    font-family: monospace, serif;
    font-style: italic;
    height: 100px;
    width: 500px;
    background-color: rgba(245, 240, 240, 0.5);
    padding: 20px 0;
    margin: 0 auto;
    border-top: 4px solid rgb(245, 240, 240);
    border-bottom: 4px solid rgb(245, 240, 240);
}

.profile_pic{
    height:300px;
    border-radius: 15%;
}

.profile_align{
    display:flex;
}

.profile_align p{
    padding-left: 100px;
}

body{ 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }


.introduction_me, .project, .contact{
    padding: 20px 200px;
}

.contact li{
    display: inline-block;
    padding: 0 10px;
}

.contact a{
    text-decoration: none;
    color:black;
}

.ins_pic img{
    width:40px; 
}

.linkedin_pic img{
    width:55px;
}

#about_me, #personal_project, #contact_info{
    background-color: aqua;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    font-size: 12px;
    
}
